.container {
  max-width: 44rem;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}

.header {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

a.headerItem {
  color: rgb(55, 65, 81);
  margin-right: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}
