.thumbnailContainer {
  flex: none;
  margin-right: 1rem;
  width: 300px;
}

a.hyperlink {
  color: inherit;
}

.content {
  display: flex;
}

.content.narrow {
  flex-direction: column;
  max-width: 300px;
}

.component:not(:last-child) {
  margin-bottom: 1.25rem;
}

.textContainer {
  padding-top: 0.25rem;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .component {
    max-width: 300px;
  }
}
