@use "styles/typography.scss";

$thumbnail-width: 300px;

.component {
  display: flex;
}

a.content {
  color: inherit;
  text-decoration: none;
}

.content {
  display: flex;
  gap: 1rem;
}

.thumbnailContainer {
  display: flex;
}

.component_narrow {
  .content {
    flex-basis: $thumbnail-width;
    flex-direction: column;
    gap: 0;
  }
}

h3.heading {
  font-size: 18px;
  font-weight: 600;
  margin: 0.5rem 0;
}

.date {
  @include typography.subheader;
}

@media (max-width: 600px) {
  .content {
    flex-basis: $thumbnail-width;
    flex-direction: column;
    gap: 0;
  }

  .component:not(:last-child) {
    margin-bottom: 1rem;
  }
}
