.thumbnailContainer {
  flex: none;
  margin-right: 1rem;
  width: 300px;
}

a.hyperlink {
  color: inherit;
}

.imageAndTextContainer {
  display: flex;
}

@media (max-width: 600px) {
  .imageAndTextContainer {
    flex-direction: column;
    max-width: 300px;
  }
}

.listItem {
  margin-bottom: 1.25rem;
}

.subtext {
  font-size: 18px;
}

.textContainer {
  padding: 0.25rem 0 1rem 0;
}
