.thumbnailContainer {
  flex: none;
  margin-right: 1rem;
  width: 300px;
}

a.hyperlink {
  color: inherit;
  position: relative;
  text-decoration: none;
}

a.hyperlink:focus .textContainer .subtext,
a.hyperlink:hover .textContainer .subtext {
  color: rgb(175, 175, 175);
}

a.hyperlink:focus .textContainer,
a.hyperlink:hover .textContainer {
  color: rgb(242, 242, 242);
}

a.hyperlink:focus:before,
a.hyperlink:hover:before {
  content: "\A";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.imageAndTextContainer {
  display: flex;
}

.listItem {
  margin-bottom: 1.25rem;
}

.subtext {
  font-size: 18px;
}

.textContainer {
  z-index: 1;
}
