@use "styles/typography.scss";

h1.h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.main h2 {
  font-size: 24px;
  font-weight: 600;
}

.main h3 {
  font-size: 18px;
  font-weight: 600;
}

.article {
  /* Allow long urls to wrap on narrow screens. */
  word-wrap: break-word;
}

.suggestedPosts {
  display: flex;
  gap: 1rem;
}

.suggestedPostsContainer {
  border-top: 1px solid #afafaf;
  margin-top: 4rem;
  padding-top: 1rem;
}

.date {
  @include typography.subheader;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .suggestedPosts {
    flex-direction: column;
  }
}
